.postHeader {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: bold;
}

.post {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 0px 5rem 10px;
  border-radius: 1rem;
}

.post h3 {
  font-weight: bold;
}

.post p {
  font-size: medium;
}